{% extends "base_minimal.html" %}

{% load static %}

{% block body_attrs %}data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false, "darkMode":false}' data-leftbar-theme="dark"{% endblock %}

{% block body_content %}
<!-- Begin page -->
<div class="wrapper">
    <!-- ========== Left Sidebar Start ========== -->
    <div class="left-side-menu">

        <!-- LOGO -->
        <a href="/" class="logo text-center logo-light">
            <h3>VMB<h3>
            {% comment %}
            <span class="logo-lg">
                <img src="{% static 'images/logo.png' %}" alt="" height="16">
            </span>
            <span class="logo-sm">
                <img src="{% static 'images/logo_sm.png' %}" alt="" height="16">
            </span>
            {% endcomment %}
        </a>

        <!-- LOGO -->
        <a href="/" class="logo text-center logo-dark">
            <span class="logo-lg">
                <img src="{% static 'images/logo-dark.png' %}" alt="" height="16">
            </span>
            <span class="logo-sm">
                <img src="{% static 'images/logo_sm_dark.png' %}" alt="" height="16">
            </span>
        </a>

        <div class="h-100" id="left-side-menu-container" data-simplebar>

            <!--- Sidemenu -->
            <ul class="metismenu side-nav">
                <li class="side-nav-item">
                    <a href="{% url 'matrimony:profile-edit' 'basic' %}" class="side-nav-link">
                        <i class="uil-user"></i>
                        <span> Profile </span>
                    </a>
                </li>

                {% comment %}
                <li class="side-nav-item">
                    <a href="#" class="side-nav-link">
                        <i class="uil-chart-pie-alt"></i>
                        <span> Matches </span>
                    </a>
                </li>
                {% endcomment %}
            </ul>
            <!-- End Sidebar -->

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">
            <!-- Start Content-->

            <!-- Topbar Start -->
            <div class="navbar-custom">
                <ul class="list-unstyled topbar-right-menu float-right mb-0">

                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle nav-user arrow-none mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false"
                            aria-expanded="false">
                            <span>
                                <span class="account-user-name">{{ request.user.username }}</span>
                                <span class="account-position"></span>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="mdi mdi-logout mr-1"></i>
                                <span>Logout</span>
                            </a>

                        </div>
                    </li>

                </ul>
                <button class="button-menu-mobile open-left disable-btn">
                    <i class="mdi mdi-menu"></i>
                </button>
            </div>
            <!-- end Topbar -->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    {% block breadcrumb %}{% endblock %}
                                </ol>
                            </div>
                            <h4 class="page-title">{% block content_title %}{% endblock %}</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->
                {% block content %}{% endblock content %}

            </div> <!-- container -->

        </div> <!-- content -->

        <!-- Footer Start -->
        <footer class="footer">
            {% block footer %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        2018 - 2020 © VaisnavaMarriage - vaisnavamarriage.com
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-right footer-links d-none d-md-block">
                            <a href="{% url 'about' %}">About</a>
                            <a href="#">Support</a>
                            <a href="#">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock footer %}
        </footer>
        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

</div>
<!-- END wrapper -->
{% endblock body_content %}
