{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}VaisnavaMarriage{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        {% block css %}
        <!-- App css -->
        <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/app.min.css' %}" rel="stylesheet" type="text/css" id="light-style" />
        <link href="{% static 'css/app-dark.min.css' %}" rel="stylesheet" type="text/css" id="dark-style" disabled="disabled" />
        {% endblock css %}

    </head>
    <body class="{% block body_class %}{% endblock %}" {% block body_attrs %}{% endblock %}'>
        {% block body_content %}{% endblock %}

        {% block javascript %}
        <!-- bundle -->
        <script src="{% static 'js/vendor.min.js' %}"></script>
        <script src="{% static 'js/app.min.js' %}"></script>
        <script src="{% static 'cookielaw/js/cookielaw.js' %}"></script>
        {% endblock %}
    </body>
</html>
