{% extends "base_minimal.html" %}

{% load static cookielaw_tags %}

{% block body_attrs %}data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false, "darkMode":false}' data-leftbar-theme="dark"{% endblock %}

{% block body_content %}
<!-- Begin page -->
<style>
    .transparent_hover :hover{
        background-color: #ffffff;
        border:1px solid rgb(61, 61, 61);
    }
    .transparent_hover_unbordered :hover{
        border:none;
    }
</style>
<div class="wrapper">
    <!-- ========== Left Sidebar Start ========== -->
    <div class="left-side-menu">

        <!-- LOGO -->
        <a href="/" class="logo text-center logo-light">
            <h3>VMB<h3>
            {% comment %}
            <span class="logo-lg">
                <img src="{% static 'images/logo.png' %}" alt="" height="16">
            </span>
            <span class="logo-sm">
                <img src="{% static 'images/logo_sm.png' %}" alt="" height="16">
            </span>
            {% endcomment %}
        </a>

        <!-- LOGO -->
        <a href="/" class="logo text-center logo-dark">
            <span class="logo-lg">
                <img src="{% static 'images/logo-dark.png' %}" alt="" height="16">
            </span>
            <span class="logo-sm">
                <img src="{% static 'images/logo_sm_dark.png' %}" alt="" height="16">
            </span>
        </a>

        <div class="h-100" id="left-side-menu-container" data-simplebar>

            <!--- Sidemenu -->
            <ul class="metismenu side-nav">
                <li class="side-nav-title side-nav-item">Navigation</li>
                <li class="side-nav-item">
                    <a href="{% url 'matrimony:profile-edit' 'basic' %}" class="side-nav-link">
                        <i class="uil-user"></i>
                        <span> Profile </span>
                    </a>
                </li>

                <li class="side-nav-item">
                    <a href="{% url 'matrimony:search' %}" class="side-nav-link">
                        <i class="uil-search-alt"></i>
                        <span> Search </span>
                    </a>
                </li>

                <li class="side-nav-item">
                    <a href="{% url 'matrimony:matches' %}" class="side-nav-link">
                        <i class="uil-chart-pie-alt"></i>
                        <span> Matches </span>
                    </a>
                </li>
            </ul>
            <!-- End Sidebar -->

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page"  style="padding: 70px 0 65px;">
        <div class="content">
            <!-- Start Content-->

            <!-- Topbar Start -->
            <div class="navbar-custom">
                <ul class="list-unstyled topbar-right-menu float-right mb-0">
                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <i class="dripicons-bell noti-icon"></i>
                            {% if request.user.notifications.unread.count %}
                            <span><b style="font-weight: bolder; color: rgb(219, 9, 9);">{{ request.user.notifications.unread.count }}</b></span>
                            {% endif %}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-lg">
                            <!-- item-->
                            <div class="dropdown-item noti-title mb-2" style="margin:auto;">
                                <h5 class="">
                                    <span class="float-right">
                                        <a href="{% url 'matrimony:mark_all_as_read' %}" class="text-dark">
                                            <small>Clear All</small>
                                        </a>
                                    </span>Notification
                                </h5>
                            
                            <div class="dropdown-item" style="height: 300px;" data-simplebar="init"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" style="height: auto; overflow: hidden;"><div class="simplebar-content" style="padding: 0px;">
                                <!-- item-->
                                {% if request.user.notifications.unread.count %}
                                <ul class="list-unstyled" style="height: auto;">
                                    {% for notification in request.user.notifications.unread.all %}
                                    <li class="transparent_hover" style="width: 278px;">
                                        <a href="{% url 'matrimony:mark_as_read' notification.id %}" class="dropdown-item notify-item transparent_hover_unbordered" type="submit">
                                            <div class="notify-icon bg-primary">
                                                <i class="mdi mdi-comment-account-outline"></i>
                                            </div>
                                            <p class="notify-details transparent_hover_unbordered">{{ notification.verb }}
                                                <small class="text-muted">{{ notification.description }}</small>
                                            </p>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% else %}
                                <ul class="list-unstyled" style="height: auto;">
                                    <li style="width: 278px;">
                                        <div class="dropdown-item notify-item">
                                            <p class="notify-details">No Unread Notification
                                            </p>
                                        </div>
                                    </li>
                                </ul>

                                {% endif %}
                                <!-- item-->
                            </div></div></div></div><div class="simplebar-placeholder" style="width: 0px; height: 0px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: hidden;"><div class="simplebar-scrollbar" style="height: 0px; display: none;"></div></div></div>
                            <!-- All-->
                            <a href="{% url 'matrimony:view_all_notifications' %}" class="dropdown-item text-center text-primary notify-item notify-all">
                                View All
                            </a>
                        </div>
                        </div>
                    </li>
                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle nav-user arrow-none mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false"
                            aria-expanded="false">
                            <span>
                                <span class="account-user-name">{{ request.user.username }}</span>
                                <span class="account-position"></span>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                            <!-- item-->
                            <a href="{% url 'account_change_password' %}" class="dropdown-item notify-item">
                                <i class="mdi mdi-account-edit mr-1"></i>
                                <span>Settings</span>
                            </a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item notify-item">
                                <i class="mdi mdi-logout mr-1"></i>
                                <span>Logout</span>
                            </a>

                        </div>
                    </li>

                </ul>
                <button class="button-menu-mobile open-left disable-btn">
                    <i class="mdi mdi-menu"></i>
                </button>
            </div>
            <!-- end Topbar -->
            <div class="container-fluid">
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div class="alert alert-{{ message.level_tag }} alert-dismissible bg-{{ message.level_tag }} text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{message}}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

                <!-- start page title -->
                <div class="row" style="height: 80px;">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    {% block breadcrumb %}{% endblock %}
                                </ol>
                            </div>
                            <h4 class="page-title">{% block content_title %}{% endblock %}</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->
                {% block content %}{% endblock content %}

            </div> <!-- container -->


            {% cookielaw_banner %}

        </div> <!-- content -->

        <!-- Footer Start -->
        <footer class="footer">
            {% block footer %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        2018 - 2020 © VaisnavaMarriage - vaisnavamarriage.com
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-right footer-links d-none d-md-block">
                            <a href="{% url 'about' %}">About</a>
                            <a href="#">Support</a>
                            <a href="#">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock footer %}
        </footer>
        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

</div>
<!-- END wrapper -->
{% endblock body_content %}
