{% extends "matrimony/emails/base.html" %}

{% block content %}
  <table border="0" cellspacing="0" cellpadding="0" width="100%">
    <tbody>
      {% for match_id, profile, response in matches %}
      <tr>
        <td valign="top" >
          <table border="0" cellspacing="0" cellpadding="0" style="padding-top: 20px; padding-right: 20px;">
            <tr>
              <td>
                <img class="align-self-start mr-3" src="{{ profile.primary_image_thumbnail_url }}" alt="">
              </td>
            </tr>
            <tr>
              <td><strong>{{ profile.profile_id }}</strong></td>
            </tr>
          </table>
        </td>
        <td>
          <table border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>
                <h3>
                  {{ profile.name }}{% if profile.spiritual_name %}({{ profile.spiritual_name }}){% endif %}, {{ profile.age }} years, {{ profile.height }}cms
                </h3>
              </td>
            </tr>
            <tr>
              <td>
                <h4>Basic info</h4>
                <p>
                  <strong>Marital status:</strong> {{ profile.get_marital_status_display }},
                  <strong>Mother tongue:</strong> {{ profile.mother_tongue }},
                  <strong>Religion:</strong> {{ profile.religion}},
                  <strong>Caste:</strong> {{ profile.caste }},
                  <strong>Subcaste:</strong> {{ profile.subcaste }},<br>
                  <strong>Languages known:</strong> {{ profile.get_languages_can_speak }}
                  <strong>Languages can read/write:</strong> {{ profile.get_languages_can_read_write}}
                  <strong>Ethnic Origin:</strong> {{profile.ethnic_origin}}
                </p>
              </td>
            </tr>
            <tr>
              <td>
                  <h4>Spiritual Quotient</h4>
                  <p>
                    <strong>Regularly chants:</strong> {{ profile.rounds_chanting }} round(s),
                    {% if profile.spiritual_status %}<strong>Spiritual Status:</strong> {{ profile.get_spiritual_status_display }},{%endif%}
                    {% if profile.spiritual_master %}<strong>Spiritual Master:</strong> {{ profile.spiritual_master }}{%endif%}

                  </p>
              </td>
            </tr>
              <tr>
                <td>
                  <h4>Birth Details</h4>
                  <p>
                    <strong>Birth Date:</strong> {{ profile.dob }},
                    <strong>Birth Time:</strong> {{ profile.tob }},
                    <strong>Birth City:</strong> {{ profile.birth_city }},
                    <strong>Birth State:</strong> {{ profile.birth_state }},
                    <strong>Birth Country:</strong> {{ profile.birth_country }}
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <h4>Current Location</h4>
                  <p>
                    <strong>City:</strong> {{ profile.current_city }},
                    <strong>State:</strong> {{ profile.current_state }},
                    <strong>Country:</strong> {{ profile.current_country }},
                    <strong>Nationality:</strong> {{ profile.nationality }}
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <h4>Physical Appearance</h4>
                  <p>
                    <strong>Complexion:</strong> {{ profile.get_complexion_display }},
                    <strong>Weight:</strong> {{ profile.weight }}kgs,
                    <strong>Body type:</strong> {{ profile.get_body_type_display }},
                    {% if profile.color_of_eyes %}<strong>Color of eyes:</strong> {{ profile.get_color_of_eyes_display }},{% endif %}
                    {% if profile.hair_color %}<strong>Hair Color:</strong> {{ profile.get_hair_color_display }}{% endif %}
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <h4>Personality</h4>
                  <p>
                    <strong>Description:</strong> {{ profile.personality }}
                    <br>
                    <strong>Recreational Activities:</strong> {{ profile.recreational_activities }},
                    <strong>Devotional Activities:</strong> {{ profile.devotional_services }}
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <h4>Profession</h4>
                  <p>
                    <strong>Annual income:</strong> {{ profile.annual_income }},
                    <strong>Education:</strong> {{ profile.education }},
                    {% if profile.institution %}<strong>Institution:</strong> {{ profile.institution }},{% endif %}
                    {% if profile.education_details %}<strong>Education in detail:</strong> {{ profile.education_details }},{% endif %}
                    {% if profile.employed_in %}<strong>Employed in:</strong> {{ profile.get_employed_in_display }},{% endif %} <br>
                    {% if profile.occupation %}<strong>Occupation:</strong> {{ profile.occupation }},{% endif %}
                    {% if profile.organization %}<strong>Organization:</strong> {{ profile.organization }},{% endif %}
                    {% if profile.occupation_details %}<strong>Occupation in detail:</strong> {{ profile.occupation_details }}{% endif %}
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <h4>Family Details</h4>
                  <p>
                    {% if profile.family_values %}<strong>Family values:</strong> {{ profile.get_family_values_display }},{% endif %}
                    {% if profile.family_type %}<strong>Family type:</strong> {{ profile.get_family_type_display }},{% endif %}
                    {% if profile.family_status %}<strong>Family status:</strong> {{ profile.get_family_status_display }},{% endif %} <br>
                    {% if profile.father_occupation %}<strong>Father's occupation:</strong> {{ profile.father_occupation }},{% endif %}
                    {% if profile.mother_occupation %}<strong>Mother's occupation:</strong> {{ profile.mother_occupation }},{% endif %} <br>
                    {% if profile.brothers %}<strong>Brother(s):</strong> {{ profile.brothers }}{% if profile.brothers_married %}/{{profile.brothers_married}} married{% endif %},{% endif %}
                    {% if profile.sisters %}<strong>Sister(s):</strong> {{ profile.sisters }}{% if profile.sisters_married %}/{{profile.sisters_married}} married{% endif %},{% endif %}
                    {% if profile.family_location %}<strong>Family location:</strong> {{ profile.get_family_location_display }},{% endif %}
                    {% if profile.family_origin %}<strong>Ancestral/Family Origin:</strong> {{ profile.family_origin }}{% endif %}
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <h4>Medical Details</h4>
                  <p>
                    <strong>Wants Children:</strong> {{ profile.get_want_children_display }},
                    <strong>Medical History:</strong> {{ profile.medical_history }}
                  </p>
                </td>
              </tr>
          </table>
        </d>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

