{% extends "matrimony/emails/base.html" %}

{% block content %}
  <table border="0" cellspacing="0" cellpadding="0" width="100%">
    <tbody>
      {% for m in matches %}
      <tr>
        <td>
          <table border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>
                <img class="align-self-start mr-3" src="{{ m.primary_image_url }}" alt="">
              </td>
            </tr>
            <tr>
              <td><strong>{{ m.profile_id }}</strong></td>
            </tr>
          </table>
        </td>
        <td>
          <table border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>
                <h3>
                  {{ m.name }}{% if m.spiritual_name %}({{ m.spiritual_name }}){% endif %}, {{ m.age }} years, {{ m.height }}cms
                </h3>
              </td>
            </tr>
            <tr>
              <td>
                <h4>Basic info</h4>
                <p>
                  <strong>Marital status:</strong> {{ m.marital_status }},
                  <strong>Mother tongue:</strong> {{ m.mother_tongue }},
                  <strong>Religion:</strong> {{ m.religion}},
                  <strong>Caste</strong>: {{ m.caste }},
                  <strong>Subcaste:</strong> {{ m.subcaste }},
                  <strong>Languages known:</strong> {{ m.languages_can_speak }},
                  <strong>Languages can read/write:</strong> {{ m.languages_read_write}}
                </p>
              </td>
            </tr>
          </table>
        </d>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

