{% extends "matrimony/emails/matches.html" %}
{% block response %}
<form action="{% url 'accept_or_reject' m.id %}" method="post">
    {% csrf_token %}
    <input type="radio" name="response" id='ACP' value="ACP">
    <label for="ACP">Accept</label><br>
    <input type="radio" name="response" id='REJ' value="REJ">
    <label for="REJ">Reject</label><br>
    <input type="submit" value="Submit">

    <!-- <input type = "submit" name="response" value="Accept">
    <input type = "submit" name="response" value="Reject"> -->
</form>
{% endblock %}