{% extends "base_minimal.html" %}

{% load static cookielaw_tags %}

{% block body_attrs %}data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false, "darkMode":false}' data-leftbar-theme="dark"{% endblock %}

{% block body_content %}
<!-- Begin page -->
<div class="wrapper">
    <!-- ========== Left Sidebar Start ========== -->
    <div class="left-side-menu">

        <!-- LOGO -->
        <a href="/" class="logo text-center logo-light">
            <h3>VMB<h3>
            {% comment %}
            <span class="logo-lg">
                <img src="{% static 'images/logo.png' %}" alt="" height="16">
            </span>
            <span class="logo-sm">
                <img src="{% static 'images/logo_sm.png' %}" alt="" height="16">
            </span>
            {% endcomment %}
        </a>

        <!-- LOGO -->
        <a href="/" class="logo text-center logo-dark">
            <span class="logo-lg">
                <img src="{% static 'images/logo-dark.png' %}" alt="" height="16">
            </span>
            <span class="logo-sm">
                <img src="{% static 'images/logo_sm_dark.png' %}" alt="" height="16">
            </span>
        </a>

        <div class="h-100" id="left-side-menu-container" data-simplebar>

            <!--- Sidemenu -->
            <ul class="metismenu side-nav">
                <li class="side-nav-title side-nav-item">Navigation</li>
                <li class="side-nav-item">
                    <a href="{% url 'matrimony:profile-edit' 'basic' %}" class="side-nav-link">
                        <i class="uil-user" style="color:white;"></i>
                        <span> Profile </span>
                    </a>
                </li>

                <li class="side-nav-item">
                    <a href="{% url 'matrimony:search' %}" class="side-nav-link">
                        <i class="uil-search-alt"></i>
                        <span> Search </span>
                    </a>
                </li>

                <li class="side-nav-item">
                    <a href="{% url 'matrimony:matches' %}" class="side-nav-link">
                        <i class="uil-chart-pie-alt"></i>
                        <span> Matches </span>
                    </a>
                </li>
            </ul>
            <!-- End Sidebar -->

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page" style="padding: 70px 0 65px;">
        <div class="content">
            <!-- Start Content-->

            <!-- Topbar Start -->
            <div class="navbar-custom">
                <ul class="list-unstyled topbar-right-menu float-right mb-0">

                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle nav-user arrow-none mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false"
                            aria-expanded="false">
                            <span>
                                <span class="account-user-name">{{ request.user.username }}</span>
                                <span class="account-position"></span>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                            <!-- item-->
                            <a href="{% url 'account_change_password' %}" class="dropdown-item notify-item">
                                <i class="mdi mdi-account-edit mr-1"></i>
                                <span>Settings</span>
                            </a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item notify-item">
                                <i class="mdi mdi-logout mr-1"></i>
                                <span>Logout</span>
                            </a>

                        </div>
                    </li>

                </ul>
                <button class="button-menu-mobile open-left disable-btn">
                    <i class="mdi mdi-menu"></i>
                </button>
            </div>
            <!-- end Topbar -->
            <div class="container-fluid">
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div class="alert alert-{{ message.level_tag }} alert-dismissible bg-{{ message.level_tag }} text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{message}}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

                <!-- start page title -->
                <div class="row" style="height: 80px;">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    {% block breadcrumb %}{% endblock %}
                                </ol>
                            </div>
                            <h4 class="page-title">{% block content_title %}{% endblock %}</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <div class="row">
                    <div class="col-3 zero_padding">
                            <!-- ========== Left Sub-Sidebar Start ========== -->
                        <div class="left-side-menu-secondary">
                    
                            <div class="h-100" id="left-side-menu-container" data-simplebar>
                    
                                <!--- Sidemenu -->
                                <ul class="metismenu side-nav">
                                    <li class="sub-side-nav-title sub-side-nav-item pl-3 pt-2 pb-3">Settings</li>
                                    <li class="sub-side-nav-item">
                                        <a href="{% url 'account_change_password' %}" class="side-nav-link">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                                                <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                                                <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                            </svg>
                                            <span class="icon_only pl-2"> Password </span>
                                        </a>
                                    </li>
                    
                                    <li class="sub-side-nav-item">
                                        <a href="{% url 'account_email' %}" class="side-nav-link">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                                            </svg>
                                            <span class="icon_only pl-2"> Email </span>
                                        </a>
                                    </li>
                                </ul>
                                <!-- End Sidebar -->
                    
                                <div class="clearfix"></div>
                    
                            </div>
                            <!-- Sidebar -left -->
                    
                        </div>
                        <!-- Left Sub-Sidebar End -->
                    </div>
                    <div class="col-8">
                        {% block content %}{% endblock content %}
                    </div>
                </div> <!-- container -->


            {% cookielaw_banner %}

        </div> <!-- content -->

        <!-- Footer Start -->
        <footer class="footer">
            {% block footer %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        2018 - 2020 © VaisnavaMarriage - vaisnavamarriage.com
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-right footer-links d-none d-md-block">
                            <a href="{% url 'about' %}">About</a>
                            <a href="#">Support</a>
                            <a href="#">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock footer %}
        </footer>
        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

</div>
<!-- END wrapper -->
{% endblock body_content %}

