{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block head_title %}Login{% endblock %}

{% block content %}
<div class="col-lg-5">
    <div class="card">

        <!-- Logo -->
        <div class="card-header pt-4 pb-4 text-center bg-primary">
            <a href="index.html">
                <span><img src="assets/images/logo.png" alt="" height="18"></span>
            </a>
        </div>

        <div class="card-body p-4">

            <div class="text-center w-75 m-auto">
                <h4 class="text-dark-50 text-center mt-0 font-weight-bold">Sign In</h4>
                <p class="text-muted mb-4">Enter your email address and password to login.</p>
            </div>

            <form class="login is-invalid" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="is-invalid" style="display:none"></div>
                    {% for error in form.non_field_errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                {% endif %}
                <div class="form-group">
                    <label for="{{form.login.id_for_label}}">Email address</label>
                    {% crispy_field form.login %}
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="form-group">
                    <a href="pages-recoverpw.html" class="text-muted float-right"><small>Forgot your password?</small></a>
                    <label for="password">Password</label>
                    <div class="input-group input-group-merge">
                        {% crispy_field form.password %}
                        <div class="input-group-append" data-password="false">
                            <div class="input-group-text">
                                <span class="password-eye"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <div class="custom-control custom-checkbox">
                        {% crispy_field form.remember 'class' 'custom-control-input' %}
                        <label class="custom-control-label" for="{{form.remember.id_for_label}}">Remember me</label>
                    </div>
                </div>

                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <div class="form-group mb-0 text-center">
                    <button class="btn btn-primary" type="submit"> Log In </button>
                </div>

            </form>
        </div> <!-- end card-body -->
    </div>
    <!-- end card -->

    <div class="row mt-3">
        <div class="col-12 text-center">
            <p class="text-muted">Don't have an account? <a href="{% url 'account_signup' %}" class="text-muted ml-1"><b>Sign Up</b></a></p>
        </div> <!-- end col -->
    </div>
    <!-- end row -->
</div>
<!-- end col -->
{% endblock content %}
