{% extends "account/base_custom.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block content_title %}User/Settings{% endblock %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb active">User/Settings</li>
{% endblock %}
{% block content %}

<div class="col-md-8 col-lg-8 col-sm-12 custom_card" >
                
    <!-- Simple card -->
    <div class="card d-block">
        <h3 class="card-img-top text-center pt-3">{% trans "Change Password" %}</h3>
        
        <div class="card-body">
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
            </form>
        </div> <!-- end card-body-->
    </div> <!-- end card-->
</div>

{% endblock content %}

