{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}


{% block content %}
<div class="col-lg-5">
    <div class="card">
        <!-- Logo -->
        <div class="card-header pt-4 pb-4 text-center bg-primary">
            {% comment %}
            <a href="index.html">
                <span><img src="{% static 'images/logo.png' %}" alt="" height="18"></span>
            </a>
            {% endcomment %}
        </div>

        <div class="card-body p-4">

            <div class="text-center w-75 m-auto">
                <h4>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h4>

                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p class="text-muted mb-4">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                {% else %}
                    {% if form %}
                        <form method="POST" action=".">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input class="btn btn-primary" type="submit" name="action" value="{% trans 'Change Password' %}"/>
                        </form>
                    {% else %}
                        <p class="text-muted mb-4">{% trans 'Your password is now changed.' %}</p>
                    {% endif %}
                {% endif %}
            </div>
        </div> <!-- end card-body-->
    </div> <!-- end card-->
    <div class="row mt-3">
        <div class="col-12 text-center">
            <p class="text-muted">Back to <a href="{% url 'account_login' %}" class="text-muted ml-1"><b>Log In</b></a></p>
        </div> <!-- end col -->
    </div>
    <!-- end row -->
</div> <!-- end col -->
{% endblock content %}
