{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner %}
    <h1>{% trans "Change Password" %}</h1>
    <p>{% trans 'Your password is now changed.' %}</p>
{% endblock %}
{% block content %}
<div class="col-lg-5">
    <div class="card">
        <!-- Logo -->
        <div class="card-header pt-4 pb-4 text-center bg-primary">
            {% comment %}
            <a href="index.html">
                <span><img src="{% static 'images/logo.png' %}" alt="" height="18"></span>
            </a>
            {% endcomment %}
        </div>

        <div class="card-body p-4">

            <div class="text-center w-75 m-auto">
                    <h1>{% trans "Change Password" %}</h1>
                    <p>{% trans 'Your password is now changed.' %}</p>            
            </div>
            <div class="text-center w-75 m-auto">
                <form method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit" name="action">{% trans "Sign In" %}</button>
                </form>
            </div>
        </div> <!-- end card-body-->
    </div> <!-- end card-->
</div> <!-- end col -->
{% endblock content %}


