{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="col-lg-5">
    <div class="card">
        <!-- Logo -->
        <div class="card-header pt-4 pb-4 text-center bg-primary">
            {% comment %}
            <a href="index.html">
                <span><img src="{% static 'images/logo.png' %}" alt="" height="18"></span>
            </a>
            {% endcomment %}
        </div>

        <div class="card-body p-4">

            <div class="text-center w-75 m-auto">
                <h4>{% trans "Reset Password" %}</h4>
    
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                
                <p class="text-muted mb-4">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
            </div>
        </div> <!-- end card-body-->
    </div> <!-- end card-->
    <div class="row mt-3">
        <div class="col-12 text-center">
            <p class="text-muted">Back to <a href="{% url 'account_login' %}" class="text-muted ml-1"><b>Log In</b></a></p>
        </div> <!-- end col -->
    </div>
    <!-- end row -->
</div> <!-- end col -->
{% endblock content %}