{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}

{% block content %}
<div class="col-lg-5">
    <div class="card">
        <!-- Logo-->
        <div class="card-header pt-4 pb-4 text-center bg-primary">
            <a href="index.html">
                <span><img src="assets/images/logo.png" alt="" height="18"></span>
            </a>
        </div>

        <div class="card-body p-4">
            <div class="text-center w-75 m-auto">
                <h4 class="text-dark-50 text-center mt-0 font-weight-bold">Sign Up for Vaisnava Marriage</h4>
                <p class="text-muted mb-4">Don't have an account? Create your account, it takes less than a minute </p>
            </div>

            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="is-invalid" style="display:none"></div>
                    {% for error in form.non_field_errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                {% endif %}
                <div class="form-group">
                    <label for="{{form.email.id_for_label}}">Email address</label>
                    {% crispy_field form.email %}
                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="{{ form.password1.id_for_label}}password">Password</label>
                    <div class="input-group input-group-merge">
                        {% crispy_field form.password1 %}
                        <div class="input-group-append" data-password="false">
                            <div class="input-group-text">
                                <span class="password-eye"></span>
                            </div>
                        </div>
                        {% if form.password1.errors %}
                            {% for error in form.password1.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{ form.password2.id_for_label}}password">Password (again)</label>
                    <div class="input-group input-group-merge">
                        {% crispy_field form.password2 %}
                        <div class="input-group-append" data-password="false">
                            <div class="input-group-text">
                                <span class="password-eye"></span>
                            </div>
                        </div>
                        {% if form.password2.errors %}
                            {% for error in form.password2.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{ form.name.id_for_label}}">Legal name</label>
                    {% crispy_field form.name %}
                    {% if form.name.errors %}
                        {% for error in form.name.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="{{ form.gender.id_for_label}}">Gender</label>
                        {% crispy_field form.gender 'css' 'select2' 'data-toggle' 'select2' %}
                        {% if form.gender.errors %}
                            {% for error in form.gender.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-6">
                        <label for="{{ form.marital_status.id_for_label}}">Marital status</label>
                        {% crispy_field form.marital_status 'css' 'select2' 'data-toggle' 'select2' %}
                        {% if form.marital_status.errors %}
                            {% for error in form.marital_status.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{ form.phone.id_for_label}}">Mobile number</label>
                    {% crispy_field form.phone %}
                    {% if form.phone.errors %}
                        {% for error in form.phone.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="{{ form.dob.id_for_label}}">Date of birth</label>
                    {{ form.dob }}
                    {% if form.dob.errors %}
                        {% for error in form.dob.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="{{ form.rounds_chanting.id_for_label}}">Number of rounds chanting</label>
                    {% crispy_field form.rounds_chanting %}
                    {% if form.rounds_chanting.errors %}
                        {% for error in form.rounds_chanting.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="checkbox-signup" required>
                        <label class="custom-control-label" for="checkbox-signup">I accept <a href="#" class="text-muted">Terms and Conditions</a></label>
                    </div>
                </div>

                <div class="form-group mb-0 text-center">
                    <button class="btn btn-primary" type="submit"> Sign Up </button>
                </div>

            </form>
        </div> <!-- end card-body -->
    </div>
    <!-- end card -->

    <div class="row mt-3">
        <div class="col-12 text-center">
            <p class="text-muted">Already have account? <a href="{{ login_url }}" class="text-muted ml-1"><b>Log In</b></a></p>
        </div> <!-- end col-->
    </div>
    <!-- end row -->

</div> <!-- end col -->
{% endblock %}

