{% extends "account/base_custom.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content_title %}User/Settings{% endblock %}
{% block head_title %}{% trans "E-mail Addresses" %}{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb active">User/Settings</li>
{% endblock %}
{% block content %}
<div class="col-md-8 col-lg-8 col-sm-12 custom_card" >
  <div class="card d-block">
    <h3 class="card-img-top text-center pt-3">{% trans "Email Notification Preference" %}</h3>
    <hr style="width:75%; margin:auto">
    <div class="card-body">
        <p>{% trans 'Choose which email notifications you want to receive in future:' %}</p>
        <hr>
        <form class="mt-3" method="POST">
          {% csrf_token %}
          {{ form|crispy}}
          <!-- <input type="submit" value="Save" class="btn btn-info my-4">
          <input type="submit" value="Unsubscribe to all" class="btn btn-danger my-4 ml-2"> -->
          <button class="btn btn-info my-4" type="submit" name="save">Save</button>
          <button class="btn btn-danger my-4 ml-2" type="submit" name="unsubscribe">Unsubscribe to all</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}