{% extends "base.html" %}

{% load static crispy_forms_tags %}

{% block content_title %}Profile{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb active">Profile</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-pills bg-nav-pills nav-justified mb-3">
                    {% for section in sections %}
                    <li class="nav-item">
                        <a href="{{ section.path }}" aria-expanded="false" class="nav-link rounded-0{% if section.active %} active{% endif %}">
                            <span class="d-md-block">{{ section.label }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% ifequal section_id "photos" %}
                <!-- File Upload -->
                <form action="{% url 'matrimony:profile-photos-ajax' %}" method="post" class="dropzone" id="myAwesomeDropzone" data-plugin="dropzone" data-previews-container="#file-previews"
                    data-upload-preview-template="#uploadPreviewTemplate" data-auto-process-queue="false">
                    {% csrf_token %}
                    <div class="fallback">
                        <input name="file" type="file" multiple />
                    </div>

                    <div class="dz-message needsclick">
                        <i class="h1 text-muted dripicons-cloud-upload"></i>
                        <h3>Drop files here or click to upload.</h3>
                        <span class="text-muted font-13">(This is just a demo dropzone. Selected files are
                            <strong>not</strong> actually uploaded.)</span>
                    </div>
                </form>

                <!-- Preview -->
                <div class="dropzone-previews mt-3" id="file-previews"></div>

                <!-- file preview template -->
                <div class="d-none" id="uploadPreviewTemplate">
                    <div class="card mt-1 mb-0 shadow-none border">
                        <div class="p-2">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <img data-dz-thumbnail src="#" class="avatar-sm rounded bg-light" alt="">
                                </div>
                                <div class="col pl-0">
                                    <a href="javascript:void(0);" class="text-muted font-weight-bold" data-dz-name></a>
                                    <p class="mb-0" data-dz-size></p>
                                </div>
                                <div class="col-auto">
                                    <!-- Button -->
                                    <a href="" class="btn btn-link btn-lg text-muted" data-dz-remove>
                                        <i class="dripicons-cross"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                {% crispy form %}
                {% endifequal %}

            </div>
        </div>
    </div>
</div> <!-- end row-->
{% endblock %}

{% block javascript %}
{{ block.super }}
{% ifequal section_id "photos" %}
<!-- plugin js -->
<script src="{% static 'js/vendor/dropzone.min.js' %}"></script>
<!-- init js -->
<script src="{% static 'js/ui/component.fileupload.js' %}"></script>
{% endifequal %}
{% endblock %}
