{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content_title %}Search{% endblock %}

{% block breadcrumb %}Search{% endblock %}

{% block content %}
{% if search_disabled %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Search disabled!</h2>
        <div class="card-text">
          <p>Your profile is not active. It could happen due to the following reasons:</p>
          <ul>
            <li>
              You have not completely filled your matrimony profile. Click <a href="{% url 'matrimony:profile-edit' 'basic' %}">here</a> to complete your matrimony profle.
            </li>
            <li>
              Your matrimony profile is waiting to be reviewed and verified by our match makers. Please reach to our match makers at <a href="mailto:{{email_contact}}">{{ email_contact }}</a>.
            </li>
            <li>
              Your profile has been deactivated. Please reach out to our match makers at <a href="mailto:{{email_contact}}">{{ email_contact }}</a> for help.
            </li>
          </ul>
        </div>
      </div>
    </div>


  </div>
</div>
{% else %}
<style>
  .page-link-custom{
    color: #4e5bf2 !important;
  }
  .page-link-custom:hover{
    cursor: pointer !important;
    color: #2b3af0 !important;
  }
</style>
<div class="row">
  <div class="col-md-12">
    <div id="searchText">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">You searched for</h5>
          <p class="card-text">
            {% for k, v in querydata.items %}
              <strong>{{ k }}: </strong>{{ v }}, 
            {% endfor %}
          </p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#search-modal">
            <i class="uil-sliders-v-alt"></i>
            Modify search
          </button>
          <div id="search-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable">
                  <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title" id="standard-modalLabel">Modify search</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      </div>
                      <div class="modal-body">
                          <div>
                            {% crispy search_form %}
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        <input type="submit" name="submit" value="Search" class="btn btn-primary" form="searchForm">
                      </div>
                  </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <nav>
      <ul class="pagination justify-content-end">
        <li class="page-item{% if not page_obj.has_previous %} disabled{% endif %}">
            <a class="page-link" href="javascript:{% if page_obj.has_previous %}navigateTo('1'){% else %}void(0){% endif %};" aria-label="First">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">First</span>
            </a>
        </li>
          <li class="page-item{% if not page_obj.has_previous %} disabled{% endif %}">
              <a class="page-link" href="javascript:{% if page_obj.has_previous %}navigateTo('{{ page_obj.previous_page_number }}'){% else %}void(0){% endif %};" aria-label="Previous">
                <span aria-hidden="true">&lsaquo;</span>
                <span class="sr-only">Previous</span>
              </a>
          </li>
          <li class="page-item"><a class="page-link" href="javascript: void(0);">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
          <li class="page-item{% if not page_obj.has_next %} disabled{% endif %}">
            <a class="page-link" href="javascript:{% if page_obj.has_next %}navigateTo('{{ page_obj.next_page_number }}'){% else %}void(0){% endif %};" arial-label="Next">
              <span aria-hidden="true">&rsaquo;</span>
              <span class="sr-only">Next</span>
            </a>
        </li>
        <li class="page-item{% if not page_obj.has_next %} disabled{% endif %}">
            <a class="page-link" href="javascript:{% if page_obj.has_next %}navigateTo('{{ page_obj.paginator.num_pages }}'){% else %}void(0){% endif %};" aria-label="Last">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Last</span>
            </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div class="row" id="searchResults">
  {% for profile in profiles %}
  {% include "matrimony/profile_item.html" %}
  {% empty %}
  <div class="col-md-12">
    <h3>No matches found!</h3>
  </div>
  {% endfor %}
</div>
<div class="row mb-2">
  <div class="col-md-12">
    <nav>
      <ul class="pagination justify-content-center">
        <li class="page-item{% if not page_obj.has_previous %} disabled{% endif %}">
            <a class="page-link" href="javascript:{% if page_obj.has_previous %}navigateTo('1'){% else %}void(0){% endif %};" aria-label="First">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">First</span>
            </a>
        </li>
          <li class="page-item{% if not page_obj.has_previous %} disabled{% endif %}">
              <a class="page-link" href="javascript:{% if page_obj.has_previous %}navigateTo('{{ page_obj.previous_page_number }}'){% else %}void(0){% endif %};" aria-label="Previous">
                <span aria-hidden="true">&lsaquo;</span>
                <span class="sr-only">Previous</span>
              </a>
          </li>
          <li class="page-item"><a class="page-link" href="javascript: void(0);">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
          <li class="page-item{% if not page_obj.has_next %} disabled{% endif %}">
            <a class="page-link" href="javascript:{% if page_obj.has_next %}navigateTo('{{ page_obj.next_page_number }}'){% else %}void(0){% endif %};" arial-label="Next">
              <span aria-hidden="true">&rsaquo;</span>
              <span class="sr-only">Next</span>
            </a>
        </li>
        <li class="page-item{% if not page_obj.has_next %} disabled{% endif %}">
            <a class="page-link" href="javascript:{% if page_obj.has_next %}navigateTo('{{ page_obj.paginator.num_pages }}'){% else %}void(0){% endif %};" aria-label="Last">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Last</span>
            </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
{% endif %}
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">

function navigateTo(num){
  var url = new URL(window.location.toString());
  var searchParams = url.searchParams;
  if (searchParams.get('page') === null) {
    searchParams.append('page', num);
  } else {
    searchParams.set('page', num);
  }
  searchParams["page"] = num;
  url.search = searchParams.toString();
  window.location.assign(url.toString());
}

$(function(){
  $('.match-create').on('click', function(e){
    e.preventDefault();
    actionUrl = $(this).data('action');
    $.ajax({
      type: "POST",
      headers: {
        'X-CSRFToken': "{{ csrf_token }}"
      },
      url: actionUrl,
      success: function (data) {
          location.reload();
      },
      error: function (err) {
          console.log("error", err.responseJSON);
      }
    });
  });
});
</script>
{% endblock %} 