{% extends "base_minimal.html" %}

<!-- Original Template of django-tos -->
<!-- {% load i18n %}
{% load static %} -->
<!-- {% if note %}
    <h2>{{ note }}</note>
{% else %}
    <h2>{% blocktrans %}Terms of Service as of {{ tos.created|date:"SHORT_DATE_FORMAT" }}{% endblocktrans %}</h2>
{% endif %}

{{ tos.content|safe }}

<h2>{% trans "Accept Terms of Service?" %}</h2> -->
<!-- <form method="post" action="{% url "tos_check_tos" %}">
    {% csrf_token %}
    {% if next %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ next }}">
    {% endif %}
    <button type="submit" name="reject" value="reject">{% trans "Reject" %}</button>
    <button type="submit" name="accept" value="accept">{% trans "Accept" %}</button>
</form> -->
{% block body_class %}loading authentication-bg{% endblock %}

{% block body_content %}

<div class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="card">
            <div class="card-header text-center bg-primary">
                <a href="/" class="navbar-brand mr-lg-5" style="color: white;">
                    <i class="mdi mdi-set-right font-24"></i> VMB - Terms of Service updated
                </a>
            </div>
            <div class="card-body p-4">
                {{ tos.content|safe }}

                <h2>{% trans "Accept Terms of Service?" %}</h2>
                <form method="POST" class="form-group" action="{% url "tos_check_tos" %}">
                    {% csrf_token %}
                    {% if next %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ next }}" >
                    {% endif %}
                    <button type="submit" name="reject" value="reject" class="btn btn-danger" >{% trans "Reject" %}</button>
                    <button type="submit" name="accept" value="accept" class="btn btn-success" >{% trans "Accept" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock body_content %}