{% extends "base_minimal.html" %}
{% load cookielaw_tags %}
{% block title %}{{ block.super }} - {{ flatpage.title }}{% endblock title %}

{% block body_class %}authentication-bg{% endblock %}

{% block body_content %}
<div class="account-pages mt-5 mb-5">
    <div class="container">
    {% block container %}
        <div class="row justify-content-center">
            {{ flatpage.content }}
        </div>
        <!-- end row -->
    {% endblock %}
    </div>
    <!-- end container -->
</div>
{% endblock body_content %}