{% extends "base.html" %}

{% block content %}
    {% for m, r in matches.items %}
      <div class="container mt-5">
        <div class="card">
          <div class="card-body">
          <div class="row">
            <div class="col-md-4">
                <img class="align-self-start mr-3" src="{{ m.primary_image_thumbnail_url }}" alt="">
                <h4>{{ m.profile_id }}</h4>
            </div>
            <div class="col-md-6">
              <h3>
                {{ m.name }}
              </h3>
              <h3>
                  {% if m.spiritual_name %}({{ m.spiritual_name }}){% endif %}
              </h3>
              <h4>{{ m.age }} years</h4>
              <h4>{{ m.height }} cms</h4>
              <form action="{% url 'matrimony:match-response' m.id %}" method="post">
                  {% csrf_token %}
                    {% if r %}<button class="btn btn-primary" type = "submit">Change Response</button>
                    {% else %}<button class="btn btn-primary" type = "submit">View & Respond</button>{% endif %}

                </form>
            </div>
            <div class="col-md-2">
                <div class="card text-center">
                  {% if "Accepted" in r %}<h4 style="color:green">{{ r }}</h4> 
                  {% elif "Rejected" in r %}<h4 style="color:#F00">{{ r }}</h4>
                  {% endif %}
                </div>
              </div>
          </div>
        </div>  
      </div>
      </div>
      {% endfor %}      
{% endblock %}

