{% extends "account/base.html" %}
{% block content %}
  <div class="container mt-3">
    <div class="col d-flex justify-content-center">
    <div class="card text-center" style="width: 18rem;">
        <img class="card-img-top"  src="{{ m.primary_image_thumbnail_url }}" alt="">
        <div class="card-body">
          <h4 class="card-title">{{ m.profile_id }}</h4>
          {% block response %}
            <form action="#" method="post">
              {% csrf_token %}
              {% if not response %}
                <button class="btn btn-primary" type = "submit" name="response" value="ACP">Accept</button>&emsp;&emsp;
                <button class="btn btn-danger" type = "submit" name="response" value="REJ">Reject</button>
              {% elif "ACP" in response %}
                <button class="btn btn-secondary" type = "submit" name="response" value="ACP" disabled>Accept</button>&emsp;&emsp;
                <button class="btn btn-danger" type = "submit" name="response" value="REJ">Reject</button>
              {% elif "REJ" in response %}
                <button class="btn btn-primary" type = "submit" name="response" value="ACP" >Accept</button>&emsp;&emsp;
                <button class="btn btn-secondary" type = "submit" name="response" value="REJ" disabled>Reject</button>
              {% endif %}
            </form>
          {% endblock %}
        </div>
      </div>
      </div>
      <h4>Basic info</h4>
      <div class="card">
        <div class="card-body">

        <div class="row">
          <div class="col-md-6">
              
              <strong>Name:</strong> {{ m.name }}<br>
              <strong>Date of Birth:</strong> {{ m.dob }}<br>
              <strong>Mother tongue:</strong> {{ m.mother_tongue }}<br>
              <strong>Marital status:</strong> {{ m.get_marital_status_display }}<br>  
              {% if want_children %}<strong>Do you want children?</strong> {{ m.get_want_children_display }}<br>{% endif %}           
          </div>
          <div class="col-md-6">
              {% if m.spiritual_name %}<strong>Spiritual Name:</strong>({{ m.spiritual_name }})<br>{% endif %}
              <strong>Ethnic Origin:</strong> {{m.ethnic_origin}}<br>
              <strong>Languages known:</strong> {{ m.get_languages_known }}<br>
              <strong>Languages can read/write:</strong> {{ m.get_languages_read_write}}<br>
              <strong>Medical History:</strong>{{ m.medical_history }}<br>
          </div>
        </div>
      </div>
      </div>
      <h4>Spiritual Quotient</h4>
      <div class="card"> 
      <div class="card-body">       
      <div class="row">
        <div class="col-md-6">
          <strong>Regularly chants:</strong> {{ m.rounds_chanting }} round(s)<br>
        </div>
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
          {% if m.spiritual_master %}<strong>Spiritual Master:</strong> {{ m.spiritual_master }}<br>{% endif %}
        </div>
      </div>
      </div>
      </div>
        <h4>Birth Details</h4>
        <div class="card">
          <div class="card-body">
            <div class="row">
          <div class="col-md-6">
            <strong>Birth Date:</strong> {{ m.dob }}<br>
            {% if m.tob %}<strong>Birth Time:</strong> {{ m.tob }}<br>{% endif %}
            <strong>Birth City:</strong> {{ m.birth_city }}<br>
          </div>
          <div class="col-md-6">
            <strong>Birth State:</strong> {{ m.birth_state }}<br>
            {% if m.birth_country %}<strong>Birth Country:</strong> {{ m.birth_country }}<br>{% endif %}
          </div>
        </div>
      </div>
      </div>
    <h4>Current Location</h4>
    <div class="card">
      <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <strong>City:</strong> {{ m.current_city }}<br>
          {% if not m.state %}<strong>State:</strong> {{ m.current_state }}<br>{% endif %}
        </div>
        <div class="col-md-6">
          {% if m.country %}<strong>Country:</strong> {{ m.current_country }}<br>{% endif %}
          <strong>Nationality:</strong> {{ m.nationality }}<br>
        </div>
      </div>
    </div>
    </div>  
    <h4>Physical Appearance</h4>
    <div class="card">
        <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <strong>Complexion:</strong> {{ m.get_complexion_display }}<br>
          <strong>Weight:</strong> {{ m.weight }}kgs<br>
          <strong>Body type:</strong> {{ m.get_body_type_display }}<br>
        </div>
        <div class="col-md-6">
          {% if m.color_of_eyes %}<strong>Color of eyes:</strong> {{ m.get_color_of_eyes_display }}<br>{% endif %}
          {% if m.hair_color %}<strong>Hair Color:</strong> {{ m.get_hair_color_display }}<br>{% endif %}
        </div>
      </div>
    </div>
    </div>  
    <h4>Personality</h4>
    <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
                <strong>Description:</strong> {{ m.personality }}
            </div>
            <div class="col-md-6">
              {% if m.recreational_activities %}<strong>Recreational Activities:</strong> {{ m.recreational_activities }}<br>{% endif %}
            </div>
            <div class="col-md-6">
              {% if m.devotional_services %}<strong>Devotional Activities:</strong> {{ m.devotional_services }}<br>{% endif %}
            </div>
          </div>  
        </div>
      </div>
    </div>
    </div>
    <h4>Profession</h4>
    <div class="card">
        <div class="card-body">
      <div class="row">
        <div class="col-md-6">
            <strong>Employed in:</strong> {{ m.get_employed_in_display }}<br>
            {% if m.occupation %}<strong>Occupation:</strong> {{ m.occupation_text }}<br>{% endif %}
            {% if m.organization %}<strong>Organization:</strong> {{ m.organization }}<br>{% endif %}
            {% if m.occupation_details %}<strong>Occupation in detail:</strong> {{ m.occupation_details }}<br>{% endif %}
        </div>
        <div class="col-md-6">
            <strong>Annual income:</strong> {{ m.annual_income }}<br>
            <strong>Education:</strong> {{ m.education_text }}<br>
            {% if m.institution %}<strong>Institution:</strong> {{ m.institution }}<br>{% endif %}
            {% if m.education_details %}<strong>Education in detail:</strong> {{ m.education_details }}<br>{% endif %}
        </div>
      </div>
    </div>
    </div>  
    <h4>Religion & Family</h4>
    <div class="card">
        <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <strong>Religion:</strong> {{ m.religion}}<br>
          {% if m.caste %}<strong>Caste:</strong> {{ m.caste }}<br>{% endif %}
          {% if m.subcaste %}<strong>Subcaste:</strong> {{ m.subcaste }}<br>{% endif %}
          {% if m.religious_background %}<strong>Religious Background of the Family:</strong> {{ m.religious_background }}<br>{% endif %}
          <strong>Are parents devotees?</strong> {{ m.get_are_parents_devotees_display }}<br>
          {% if m.family_values %}<strong>Family values:</strong> {{ m.get_family_values_display }}<br>{% endif %}
          <strong>Family type:</strong> {{ m.get_family_type_display }}<br>
        </div>
        <div class="col-md-6">
          <strong>Family status:</strong> {{ m.get_family_status_display }}<br>
          <strong>Father's status:</strong> {{ m.get_father_status_display }}<br>
          <strong>Mother's status:</strong> {{ m.get_mother_status_display }}<br>
          {% if m.brothers %}<strong>Brother(s):</strong> {{ m.brothers }}{% if m.brothers_married %}/{{m.brothers_married}} married{% endif %}<br>{% endif %}
          {% if m.sisters %}<strong>Sister(s):</strong> {{ m.sisters }}{% if m.sisters_married %}/{{m.sisters_married}} married{% endif %}<br>{% endif %}
          <strong>Family location:</strong> {{ m.get_family_location_display }}<br>
          {% if m.family_origin %}<strong>Ancestral/Family Origin:</strong> {{ m.family_origin }}<br>{% endif %}
          {% if m.family_details %}<strong>Ancestral/Family Details:</strong> {{ m.family_details }}<br>{% endif %}
        </div>
      </div>
    </div>
    </div>  
  </div>
{% endblock %}



